**/node_modules
**/dist
**/.vite
**/.git
**/.gitignore
**/.DS_Store
**/*.log
**/.env
**/.env.*
**/.vscode
**/.idea
**/coverage
**/*.tsbuildinfo

scripts
docker-compose.yml
.docker/Dockerfile.dev
README.md
